body{
    
    text-align: center;
    color: #CC0099;
    background: url(background.jpg);
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


#title{
    /* border: 1px solid black; */
    width: 380px;
    height: 60px;
    display: flex;
    margin:0 auto;
    flex-wrap: wrap;
    text-align: center;
    
}


#pieces{
    border: 15px solid #000066;
    display: flex;
    margin:0 auto;
    flex-wrap: wrap;
    width: 360px;
    height: 360px;
    background-color: #585858;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 10px 10px #6666FF;
    outline-style: solid;
    outline-color: #CC0099;
    outline-width: medium;
    

    
}

#piece, img {
    width: 118px;
    height: 118px;
    border: 1px solid #585858;
    border-radius: 5px;
}

#footer{
    border: 15px solid #000066;
    background-color: #000066;
    width: 360px;
    height: 70px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin:0 auto;
    flex-wrap: wrap;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 10px 10px #6666FF;
    outline-style: solid;
    outline-color: #CC0099;
    outline-width: medium;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h3{
    border: 1px solid black;
    color: #CC00CC;
    border-radius: 5px;
    font-size: 30px;

}

#continue{
    font-size: 24px;

}



.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color:#CC0099;
    font-family: sans-serif;
}

.overlay-text-small{
    font-size: .3em;
}

.overlay-text.visible{
    display:flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    form{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;

    }
    to{
        font-size: 10em;
        background-color: rgba(0, 0, 0, .8);
    }
}